.btn{
    padding:1rem;
    border-radius:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background:#e59671;
    border:none;
    position:absolute;
    width:5rem;
    height:5rem;
    bottom:20px;
    left:2vw;
    cursor:pointer;
    z-index:1;
}

button:hover{
    transform: scale(1.2);
}



